{% extends "apphome/base.html" %}
{% load static %}
    {% block content %}
    <div class="contenedor form">
        <h2 class="">¿Quieres mas informacion acerca de algun vehiculo?</h2>
        <form action="/contacto/respuesta_contacto/" method="POST">{% csrf_token %}
            <p style="color: white;">Nombre: <input type="text" name="asunto"></p>
            <p style="color: white;">Email: <input type="email" name="email"></p>
            <p style="color: white;">Numero: <input type="number" name="numero"></p>
            <p style="color: white;">Marca: <br> <input type="radio" name="eleccion" value="Toyota"> Toyota <br> <input type="radio" name="eleccion" value="Ford"> Ford <br> <input type="radio" name="eleccion" value="Chevrolet"> Chevrolet</p>
            <p style="color: white;">Modelo: <input type="text" name="modelo"></p>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <br>
    <div class="contenedor">
        <h2>Contactanos</h2>
        <ul>
            <li><img src="{% static 'img/ing.png' %}" alt="asasa" width="20">  md_carscol</li>
            <li><img src="{% static 'img/tiktok.png' %}" alt="asasa" width="20">  carsmd.col</li>
            <li><img src="{% static 'img/what.png' %}" alt="asasa" width="20">  344 558892</li>
            <li><img src="{% static 'img/ubi.png' %}" alt="asasa" width="15">   CARRERA 24 #32c-40, Edificio Maze, El Poblado</li>
        </ul>
    </div>


    {% endblock %}
